import telebot

TOKEN = "8116507787:AAEPuAZyu_zKIarXAzXNHlb24ZQR9bXemKA"
bot = telebot.TeleBot(TOKEN)

@bot.message_handler(commands=['start'])
def send_welcome(message):
    bot.reply_to(message, "سلام! لطفاً فایل خود را ارسال کنید.")

bot.polling()

@bot.message_handler(content_types=['document'])
def handle_docs(message):
    file_id = message.document.file_id
    file_name = message.document.file_name

    link = f"https://t.me/{bot.get_me().username}?start=file_{file_id}"

    markup = telebot.types.InlineKeyboardMarkup()
    button = telebot.types.InlineKeyboardButton("📁 دانلود فایل", url=link)
    markup.add(button)

    bot.send_message(message.chat.id, f"🔗 این لینک را به اشتراک بگذارید برای دانلود {file_name}:", reply_markup=markup)

bot.polling()
